/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.carousel-cell {
  width: 95%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
