/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Base variables aka custom properties */
html {
  font-size: 62.5%;
  --font-stack: 'Roboto', sans-serif;
  --search-bar-border: #e6e6e6;
  --stats-color: #70757a;
  --clear-button-color: #d9d9d9;
  --background-color: #fff;
  --font-color: #000;
  --link-color: #0d67ab;
  --link-visited-color: #450a75;
  --link-outline-color: var(--font-color);
  background: var(--background-color);
}

body {
  background: var(--background-color);
  color: var(--font-color);
  width: 100vw;
  height: 100vh;
  font-family: var(--font-stack);
  font-size: 2.2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
  justify-content: flex-start;
}

.flexCenter {
  justify-content: center;
}

main {
  min-height: calc(100vh - 60px);
}

footer {
}
