h1 {
  text-align: center;
  color: rgba(0, 255, 30);
}
body {
  background-image: url(/giphy.gif);
}
main {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

section {
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 255, 30), 0 6px 12px rgba(0, 255, 30);
}
